/* This file serves as the css stylesheet for StudentLanding.html, JudgeLanding.html, TopScores.html, and Rubric.html  */
html{
    background: #2e2a36;
}
body{
    font-family:'Courier New', Courier, monospace;
    color:black;
}

.container{
    display:flex;
    justify-content: center;
    text-align: center;
    background:linear-gradient(-45deg,powderblue ,rgb(26, 128, 141),powderblue);
    /* padding: 10px; */
    border: 2px solid black;
    border-radius: 45px;
    /* margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-top:75px; */
}

button{
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 51%, #ffecd2 100%);
    border: 1px solid black;
    border-radius: 45px;
    color: black;
    padding: 20px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 160%;
}

button:hover{
    background-color: black;
    color:#3dad57;
}

.container2{
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
    align-content: center;
}
.portion1{
    padding: 10px;
    margin: 50px;
}
.portion2{
    padding: 10px;
    margin: 50px;
}
.portion3{
    padding: 10px;
    margin: 50px;
}
.portion4{
    padding: 10px;
    margin: 50px;
}
.container3 {
    text-align: center;
    color:white;
}
.UploadFile {
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    border: 1px solid #9b2222;
    border-radius: 45px;
    display: inline-block;
    padding: 6px 12px;
    margin:20px;
    cursor: pointer;
}

.TopScores{
    color:white;
    text-align: center;
}
.StudentScores{
    display:table;
    margin: auto;
    margin-top:25px;
}
.StudentScores th,td{
    border:2px solid black;
    margin:10px;
    padding:10px;
}
.Rubric{
    color:white;
    text-align: center;
    margin: 20px;
}
