/* This file serves as the css stylesheet for home.html */
html{
    background: #2e2a36;
    text-align: center;
  }
  a{
    color:powderblue
  }
  a:visited{
    text-decoration:solid;
    color:powderblue;
}
