html{
    background: #2e2a36;
}
body{
    font-family:'Courier New', Courier, monospace;
    color:black;
}
button{
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 51%, #ffecd2 100%);
    border: 1px solid black;
    border-radius: 45px;
    color: black;
    padding: 20px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 160%;
}
button:hover{
    background-color: black;
    color:#3dad57;
}
.container1{
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
    align-content: center;
}

.portion1, .portion2, .portion3, .portion4{
    padding: 10px;
    margin: 50px;
}

.part1{
    margin: auto;
	padding: 20px;
    color: white;
    text-align: center;
	border: 2px solid white;
}

/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: black;
	margin: auto;
    padding: 16px;
    font-size: 16px;
    border: none;
	justify-content: center;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: table;
    margin:auto;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: green;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

.Poster{
    display:table;
    margin:auto;
    margin-top:50px;
    height:250px;
    width: 250px;
    border: 2px solid black;
}
.PosterImage{
    margin:125px;
    color:white;
    text-align: center;

}

input[type=number]{
    color:red;
    display:table;
    margin:auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color:white;
    text-align: center;
	padding: 12px 20px;
	margin-top: 10px;
	border: 2px solid black;
    border-radius:45px;
}
.rateSubmit{
    display:table;
    margin:auto;
}




