<!DOCTYPE html>
<html lang = "en-US">
    <head>
        <title>GSU Poster - Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/home.css') }}">
    <link rel = "icon" type = "image/x-icon" href="{{ url_for('static', filename= 'static/images/Panther.png') }}">
    </head>
    
    <body>
        <img src="images/logo.png" alt="logo" width="200"height="200">
        <div class = "container">
          <h1>Welcome to the GSU Poster Day App!</h1>
        </div>
        
        <h2><a href="login.html">Login Page</a></h2>
        <h2><a href="register.html">Don't have an account yet? Register</h2>
    </body>
</html>
