<!DOCTYPE html>
<html lang = "en-US">

<head>
    <title>
        GSU Poster - Judge Landing
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/Dashboard.css') }}">
    <link rel = "icon" type = "image/x-icon" href = "images/Panther.png">
</head>

    <body>
        <div class = "container">
            <h1>Hello "Judge"<br>Welcome to your Dashboard</h1>
        </div>
        <div class = "container2">
            <div class = "portion1"><a href="TopScores.html" target=""><button type="button">Top Scores</button></a></div> <!-- /src/UI/html/TopScores.html -->
		
			<div class = "portion2"><a href="Rubric.html"><button type="button">Rubric</button></a></div> <!-- /src/UI/html/Rubric.html -->
<!--		<div class = "portion2"><button type="button" onclick = "showhide()">Rubric</button></button></div> -->
            <div class = "portion3"><a href="JudgeGrading.html" target=""><button type="button">Judge some posters!</button></a></button></div>
            <div class = "portion4"><a href="login.html"><button type="button">Logout</button></a></button></div>
        </div>

<!-- commented it out for later testing/improvement...
		<div id = "rubric">
			The grading criteria are:<br>
			Student was able to answer all questions presented by the judge. .... 1-10<br>
			Student gave an interactive and engaging presentation .... 1-10<br>
			Student's content was correct .... 1-10<br>
			Student's poster was creative, rich, and colorful .... 1-10<br><br>
			The total is out of 40 points, divided by 4 categories to create an average score out of 10.<br>
		</div>

<style>
	#rubric {
		display: none;
		color: white;
		padding: 20px 0;
		text-align: center;
		margin-top: 10px;
	}
</style>

<script>
	function showhide() {
		var x = document.getElementById("rubric");
		if (x.style.display == "none")
			x.style.display = "block";
		else
			x.style.display = "none";
	}
</script>
-->

    </body>
</html>
