<!DOCTYPE html>
<html lang = "en-US">
	<head>
		<title>GSU Poster - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/login.css') }}">
        <link rel = "icon" type = "image/x-icon" href="{{ url_for('static', filename= 'static/images/logo.png') }}">
	</head>
	
	<body>
        <img src="images/logo.png" alt="logo" width="200"height="200">
		<div class = "container">
			<h1>Log in to continue</h1>
			<div class = "container2">
				<h3>
					<label for = "ID">Name or ID </label><br>
					<input type = "text" id = "ID" name = "ID" placeholder = "Your Username"><br>
					
					<label for = "Password">Password </label><br>
					<input type = "password" id = "Password" name = "Password" placeholder = "Your Password"> <br>
				</h3>

				<div class = "container3">
					<h2>
						<a href="StudentLanding.html"><button type = "button">Login (goes to Student)</button></a><br>
						<a href="JudgeLanding.html"><button type = "button">Login (goes to Judge)</button></a>
					</h2>
				</div>
			</div>
		</div>
		
	</body>
</html>
